*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --bg_colour_red: #ac0f15;
    --bg_colour_offwhite: #fbf0bc;
    --bg_colour_white: white;
    --font_colour_red: #ac0f15;
    --font_colour_offwhite: #fbf0bc;
    --font_colour_tan: #c19526;
    --font_colour_darkbrown: #7d2f02;
}

@keyframes black_white_change
{
    50% {color: black;}
    100% {color: var(--font_colour_offwhite);}
}

@keyframes black_red_change
{
    50% {color: black;}
    100% {color: var(--font_colour_red);}
}

@keyframes header_colour_change_left
{
    from 
    {
        color: white;
        background-color: black;    
    }

    to
    {
        color: var(--font_colour_offwhite);
        background-color: var(--bg_colour_red);
    }
}

@keyframes header_colour_change_right
{
    from 
    {
        color: black;
        background-color: white;    
    }

    to
    {
        color: var(--font_colour_red);
        background-color: var(--bg_colour_offwhite);
    }
}

@keyframes header_link_hover
{
    0% {font-size: 1rem;}
    25% {font-size: 1.01rem;}
    50% {font-size: 0.99rem;}
    100% {font-size: 0.99rem;}
}

@keyframes arrow_select_hover
{
    0% {height: 64px;}
    50% {height: 96px;}
    100% {height: 64px;}
}

@keyframes film_change_exit_right
{
    from {margin-left: 0;}
    to {margin-left: 120%;}
}

@keyframes film_change_exit_left
{
    from {margin-left: 0;}
    to {margin-left: -120%;}
}

@keyframes film_change_enter_left
{
    from {margin-left: -120%;}
    to {margin-left: 0;}
}

@keyframes film_change_enter_right
{
    from {margin-right: -120%;}
    to {margin-right: 0;}
}

.red_text
{
    color: var(--font_colour_red);
}

.huge_text
{
    font-size: 1.5rem;
    text-transform: lowercase;
}

.section_flip_to_left
{
    grid-column: 1;
    grid-row: 2;
}

.section_flip_to_right
{
    grid-column: 2;
    grid-row: 2;
}

#location_icon_link img
{
    display: block;
    width: 64px;
    height: 64px;
    padding: 0;
}

#location_icon_link.red_link_buttons
{
    padding: 0;
    border-radius: 0;
    background: none;
}

.red_link_buttons
{
    display: grid;
    align-self: center;
    margin: 16px auto 16px auto;
    font-family:'Satisfy';
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    padding: 24px 24px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 45%;
}

.red_link_buttons:hover
{
    color: var(--font_colour_offwhite);
    background-color: var(--bg_colour_red);
}

.active_link 
{
    color: white;
    background-color: black;
    width: 100%;
}

html
{
    scroll-behavior: smooth;
    /*scroll-snap-type: y proximity;*/
}

body
{
    font-family: 'Bungee Inline', 'Satisfy', cursive;
    font-weight: 100;
    line-height: 1.6;
    letter-spacing: 0.0625rem;
    word-spacing: 0.1rem;
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
}

h1, h2, .big_font
{
    font-weight: 100;
    font-family: 'Bungee Inline';
}

h3, h4, p
{
    font-family: 'Satisfy', cursive;
}

h3
{
    font-weight: 900;
    font-size: 2rem;
}

h4
{
    font-weight: 900;
    font-size: 1.2rem;   
}

p
{
    font-weight: 500;
    font-size: 1.4rem;
}

header
{
    animation-name: header_colour_change_right;
    animation-delay: 0s;
    animation-duration: 20s;
    animation-iteration-count: 1;
    /*height: 9%; /* when moving, apply reduced size sticky header with max-height 9vh or 5.58vh*/
    height: 64px;
    width: 100%;
    display: grid;
    grid-template-columns: 38.2% 61.8%;
    color: var(--font_colour_red);
    background-color: var(--bg_colour_offwhite);
    box-shadow: 0px 12px 6px #27272780;
    /*position: sticky;
    top: 0;*/
    z-index: 100;
    margin: 0 auto;
}

header:hover
{
    transition: ease-in;
    transition-property: opacity;
    transition-duration: 0.4s;
    /*opacity: 10%;*/
}

header > div
{
    animation-name: header_colour_change_left;
    animation-delay: 0s;
    animation-duration: 20s;
    animation-iteration-count: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    z-index: 2;
    align-items: center;    
    background-color: var(--bg_colour_red);
    color: var(--font_colour_offwhite);
    /*background: linear-gradient(to right, transparent, 0, var(--bg_colour_red), 99.9%, transparent);*/
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#header_logo
{
    display: grid;
    align-items: center;
}

#header_logo > img
{
    max-width: 100%;
    max-height: 95%;
    padding-left: 10%;
}

header > div > h1
{   
    padding-left: 5%;
    font-size: 1rem;
}

header nav
{
    /*background: linear-gradient(to right, transparent, 0.1%, var(--bg_colour_offwhite), 100%, transparent);*/
    padding-right: 2%;
    height: 50%;
}

header ul
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    height: 100%;
}

header > nav > ul > li
{
    display: inline-block;
    list-style: none; 
    height: 100%;  
}

.header_image > div
{
    display: grid;
    height: 100%;
    align-items: center;
}

.header_image > div > img
{
    height: 90%;
    max-width: 100%;
    margin-left: 12px;
}

header > nav > ul > li > a:hover
{
    animation-name: header_link_hover;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    background-color: var(--bg_colour_red);  
    color: var(--font_colour_offwhite);
}

header a
{
    display: grid;
    text-decoration: none;
    color: inherit;
    font-size: 0.85rem;
    height: 100%;
    width: 100%;
    max-width: 100%;
    align-content: center;
    padding: 0 10%;
    text-align: center;
}

footer
{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    max-height: 500px;
    margin: 32px auto 0 auto;
    background-color: var(--bg_colour_red);
    border-top-style: groove;
    border-top-width: 6px;
    color: var(--font_colour_offwhite);
}

footer > div
{
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
}

footer img
{
    display: block;
    max-width: 100%;
}

.hero_section
{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 32px;
    scroll-snap-align: start;
}

.hero_section img
{
    opacity: 70%;
    width: 100%;
    height: auto;
    /*padding-top: 24px;*/
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

#homepage_main div:nth-child(2) 
{
    animation-name: black_white_change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin: 3% 0 0 4%;
    grid-row: 1;
    grid-column: 1;
    z-index: 3;
    position: relative;
    width: 43.5%;
    max-height: 100%;
}

#homepage_main div:nth-child(2) > h2
{
    border-bottom-style: double;
    border-bottom-width: 6px;
    font-size: 3.28rem;
    line-height: 1.2;
}

#homepage_main div:nth-child(3)
{
    color: black;
    max-width: 25%;
    margin: 16% 0 0 4%;
    grid-row: 1;
    grid-column: 1;
    z-index: 3;
    position: relative;
}

#homepage_main div:nth-child(3) > p
{
    border-bottom-style: double;
    border-bottom-width: 6px;
    font-size: 1rem;
    line-height: 1.8;
}

#homepage_main div:nth-child(4)
{
    color: black;
    max-width: 40%;
    margin: 42.5% 0 0 4%;
    grid-row: 1;
    grid-column: 1;
    z-index: 3;
    position: relative; 
}

#homepage_main div:nth-child(4) > a
{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    background-image: url(../img/jumpstory-movie-3-grey-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px 12px;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
}

#homepage_main div:nth-child(4) > a:hover
{
    color: var(--font_colour_red);
    background-image: url(../img/jumpstory-movie-3.jpg);
}

.section_containers
{
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
}

.section_containers div
{
    display: grid;
    margin: 0 auto 64px auto;
    width: 95%;
    max-height: 440px;
    justify-items: center;
}

.section_containers div:nth-child(even)
{
    background-color: var(--bg_colour_offwhite);
    box-shadow: 10px 10px 10px black;
}

.section_image
{
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: crosshair;
}

.section_containers img
{
    width: 90%;
    max-width: 100%;
    height: 380px;
    max-height: 100%;
    border-radius: 64px;
}

.section_containers h3
{
    padding-top: 24px;
}

.section_containers p
{
    max-width: 100%;
    width: 100%;
    padding: 0 16px 16px 16px;
    text-align: center;
}

/* ---------- NOW SHOWING PAGE ---------- */

#now_showing_section
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
}

#now_showing_section > div:first-child
{
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 1fr;
    align-items: center;    
    overflow: hidden;
}

#now_showing_section > div:first-child > img:nth-child(2):hover ~ img 
{
    animation-name: film_change_exit_right, film_change_enter_left;
    animation-timing-function: ease-out, ease-out;
    animation-delay: 0s, 0.4s;
    animation-duration: 0.4s, 0.4s;
    animation-iteration-count: 1, 1;
}

.left_sel_arrows, .right_sel_arrows
{
    height: 64px;
    width: 100%;
    z-index: 5;
}

#now_showing_section .right_sel_arrows
{
    grid-column: 3;
    grid-row: 1;
}

#now_showing_section .left_sel_arrows
{
    grid-column: 1;
    grid-row: 1;
}

.left_sel_arrows:hover, .right_sel_arrows:hover
{
    animation-name: arrow_select_hover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.left_sel_arrows
{
    transform: scaleX(-1);
}

#now_showing_section > div > img:nth-child(3)
{
    margin: 0 auto;
    width: 100%;
    border: none;
    border-radius: unset;
    grid-column: 2;
    grid-row: 1;
}

#now_showing_section_div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 32px auto;
    /*background-color: blue;*/
    column-gap: 4px;
    width: 100%;
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
    scroll-snap-type: y proximity;
}

.movie_content
{
    display: grid;
    display: inline-block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 4px;
    padding: 16px;
    border: 4px solid black;
    background-color: lightgrey;
    color: black;
    position: relative;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    scroll-snap-align: start;
}

.movie_content:hover
{
    border: 4px solid var(--font_colour_darkbrown);
    background-color: var(--bg_colour_offwhite);
    border-radius: unset;
}

.movie_content div:nth-child(6)
{
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 90%;
    margin: 0 auto;
}

.movie_content div:nth-child(5)
{
    margin-bottom: 124px;
}

.movie_content h3, .movie_content h4
{
    color: black;    
}

.movie_content:hover h4
{
    color: var(--font_colour_red);
}

.movie_content h3
{
    height: max-content;
    font-size: 1.3rem;
    text-transform: uppercase;
    /*scroll-margin-top: 11.5vh;*/
}

.movie_content p
{
    font-size: 1rem;
}

.movie_content img
{
    width: 100%;
    border-radius: 16px;
    filter: grayscale(100%);
}

.movie_content:hover img
{
    filter: grayscale(0%);
}

#now_showing_main
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#now_showing_main .hero_section
{
    grid-row: 1;
    grid-column: 1;
    opacity: 70%;
}

#now_showing_main .hero_section img
{
    object-fit: cover;

}

#movie_hero_img
{
    grid-row: 1;
    grid-column: 1;
    z-index: 3;
    width: 50%;
    justify-self: right;
    justify-content: center;  
}

#movie_hero_img .movie_img img
{
    width: 51%;
    margin-left: 39.5%;
    margin-top: 28.5%;
    border-radius: 8px;
}

#movie_details_div
{
    background-color: whitesmoke;
    padding: 16px;
}

#movie_details_div h3, #movie_details_div h4 
{
    color: var(--font_colour_red);
    font-size: 2.4rem;
    font-family: 'Bungee Inline', 'Satisfy', cursive;
}

#movie_details_div p
{
    font-family: 'Bungee Inline', 'Satisfy', cursive;
    font-size: 1.8rem;
}

.modal
{
    display: grid;
    grid-template-rows: 48px 1fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    opacity: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal > div:nth-child(1) > button
{
    /*background-color: red;*/
    align-items: center;
    margin: 20vh 0 0 63vw;
    padding-bottom: 8px;
}

.modal > div:nth-child(2) > iframe
{
    background-color: blue;
    margin: 0 auto;
}

.modal iframe
{
    display: block;
    max-width: 100%;
    max-height: 100vh;
}

.generic_button
{
    display: block;
    height: 100%;
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
}

.generic_button img, .generic_button div
{
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.generic_button.close_button img
{
    width: 40%;
}

#movie_hero_img > div:nth-child(2)
{
    margin-top: 16px;    
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

#movie_hero_img > div:nth-child(2) h3
{
    font-size: 1.8rem;
    font-family: 'Bungee Inline', 'Satisfy', cursive;
    animation-name: black_red_change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.youtube_play_button.generic_button
{
    height: 48px;
    margin: 0 30px 0 80px;
}

.youtube_play_button.generic_button img
{
    object-fit: contain;
    height: 92px;
    width: 92px;
    margin-left: 160px;
    filter: grayscale(100%);
}

.youtube_play_button.generic_button img:hover
{
    filter: grayscale(0); 
}
